:root {
    top: 0;
    left: 0;
    --maxScale: 6;
    font-family: Tahoma;

    background: rgb(0,13,36);
    background: linear-gradient(90deg, rgba(0,13,36,1) 0%, rgba(0,189,255,0.8631827731092436) 100%);
}

table {
    position: absolute;
    border-collapse: separate;
    margin: 0 auto;
}

td {
    border: 2px solid black;
    background-color: white;
}

/* mode portrait */
@media (orientation: portrait) {
    td, img {
        width: calc(100vw / var(--maxScale));
        height: calc(100vw / var(--maxScale));
    }
    
    .fieldCustom, .dashboard, .bluetooth-connection {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 0 auto;
    }

    .dashboard div {
        margin: 0 auto;
    }
}

/* mode paysage */
@media (orientation: landscape) {
    td, img {
        width: calc(80vh / var(--maxScale));
        height: calc(80vh / var(--maxScale));
    }
}

button, label {
    display: block;
    margin-bottom: 10px;
    background-color: #008CBA;
    color: white;
    padding: 12px 24px;
    border: solid 3px black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* style pour le bouton modifier */
#modify {
    background-color: #555555;
}

/* style pour le bouton aller */
#go {
    background-color: #4CAF50;
}

/* style pour le bouton stop */
#stop {
    background-color: #f44336;
}

div.dashboard, div.fieldCustom {
    padding: 25px 50px;
    border: solid 3px black;
    border-radius: 5px;
    background-color: rgba(170, 170, 170, 0.9);
}

div.dashboard {
    position: absolute;
    right: 20px;
    top: 20px;
}

div.fieldCustom {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.fieldCustom {
    display: flex;
    justify-content: center;
}

/* Media queries for responsiveness */
@media (max-width: 1524px) {
    /* div.dashboard, div.fieldCustom {
        position: relative;
        padding: 15px;
    }

    div.dashboard {
        right: 15px;
        top: 10px;
    }

    div.fieldCustom {
        left: 10px;
        bottom: 10px;
    } */
}

@media (max-width: 1524px) {
    /* div.dashboard, div.fieldCustom {
        padding: 15px;
        position: relative;
    }

    div.dashboard {
        right: -5px;
        top: 5px;
    }

    div.fieldCustom {
        left: 5px;
        bottom: 5px;
    } */
}

.input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}